<!-- Trigger Button for Modal -->
<button type="button" class="btn btn-primary-prescription" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add Prescription
</button>
<!-- Modal -->
<div data-controller="prescription-form" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Prescription</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for @prescription do |f| %>
        <div class="modal-body">
          <div class="mb-3">
            <%= f.label :name, class:"form-title-label" %>
            <%= f.text_field :name, data: {"prescription-form-target": "name", "action": "keyup->prescription-form#updateSelectOptions"}, class: "form-control" %>
            <div class="shadow p-3 mb-5 bg-body rounded d-none" data-prescription-form-target="selectOptions"></div>
          </div>
          <div class="mb-3">
            <%= f.label :dosage, class:"form-title-label" %>
            <%= f.text_field :dosage, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :frequency, class:"form-title-label" %>
            <%= f.text_field :frequency, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :"Prescribing Doctor", class:"form-title-label" %>
            <%= f.collection_select(:doctor_id, Doctor.all, :id, :full_name, class: "form-select") %>
          </div>
          <div class="mb-3">
            <%= f.label :purpose, class:"form-title-label" %>
            <%= f.text_field :purpose, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :status, class:"form-title-label" %>
            <%= f.select :status, Prescription::STATUS, class: "form-select" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary-prescription-close" data-bs-dismiss="modal">Close</button>
          <%= f.submit "Add Prescription", class: "btn btn-primary-prescription" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
