<div class="container d-con" data-controller="spinner">
  <!-- Top Logo Row Starts here -->
  <div class= "logo-row">
    <div class="col-4 user-row">
      <p id="date" class="date"></p>
      <script>
        var today = new Date();
        document.getElementById("date").innerHTML = today.toDateString();
      </script>
    </div>
    <div class="col-4">
      <p class="user">Welcome back, <%= current_user.first_name %>.</p>
      <%= link_to 'Download CSV', download_prescriptions_path(format: :csv), class: 'btn btn-primary csv-btn' %>
    </div>
    <div class="col-4 logo-box">
      <img src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1687795741/Care_Team_Logo_Updated_azhxg4.svg" class="logo" alt="">
    </div>
  </div>
  <!-- Top Logo Row Ends here -->
  <!-- Top Logo Row Ends here -->
  <div class="row prescriptions-row">
    <div data-controller="tabulator" class="tabulator-container">
      <div class="d-flex justify-content-between">
        <h1>Current Prescriptions</h1>
        <div><%= render "create_prescription_modal", prescription: @prescription %></div>
      </div>
      <div class="tabulator">
        <div id="table" data-tabulator-target="tabledata" data-tabulator-tabledata-value="<%= @prescriptions_json_array %>"></div>
      </div>
    </div>
  </div>
  <div class="mt-3 d-flex">
    <div class="card prescription-card" style="width: 30%">
      <div class="card-body">
        <h5 class="card-title">Upcoming Prescription Refills</h5>
        <% if @upcoming_refills.empty? %>
          <div class="row prescription-mini-row d-flex">
            <div class="col-12 post-details-mini">
              <p class="card-text">No upcoming refills</p>
            </div>
          </div>
        <% else %>
          <% @upcoming_refills.each do |p| %>
            <div class="row prescription-mini-row d-flex">
              <div class="col-1 avatar-event-box">
                <%= image_tag(p.doctor.avatar, class: "avatar-event-icon") if p.doctor.avatar.attached? %>
              </div>
              <div class="col-9 post-details-mini">
                <ul>
                  <li class="task-details" style='font-size: 14px; color: #b792fc;'><strong><%= p.name %></strong></li>
                  <span class="post-content" style='font-size: 13px;'>
                    Will need a refill by <%= p.end_time %>
                  </span>
                  <li class="time-ago" style='font-size: 13px; color: #cecdcd;'><em><%= time_ago_in_words_custom(p.end_time) %></em></li>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= turbo_frame_tag "openai_recommendation", class: "ms-3 card prescription-card p-5", style: "width: 65%" do %>
      <%= render "prescriptions/turbo_frames/openai_recommendation" %>
    <% end %>
  </div>
</div>
