<div class="container">
  <div class="d-flex row">
    <h2>Current Prescriptions</h2>
    <div class="search">
      <%= form_with url: prescriptions_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a prescription name"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="prescriptions row">
    <ul>
      <% @prescriptions.each do |prescription| %>
        <div class="prescription">
          <li>Name: <%= prescription.name %> </li>
          <li>Doctor: <%= prescription.doctor.first_name %> <%= prescription.doctor.last_name %></li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
