<div class="row m-3 task-bar">
  <div class="col-1 task-photo-column">
    <%= image_tag("https://res.cloudinary.com/dqe5h0j32/image/upload/v1686867457/#{task_icon(task.task_type)}", class: "icon", alt: "Image") %>
  </div>
  <div class="col-4 task-column"><%=  %>
    <div class="row">
       <p class = "task-bar-text" style="line-height:1.4"><strong><%= task.title %></strong><br>
       <%= task.description %>
       </p>
    </div>
  </div>
  <div class="col-3 task-column">
   <p class = "task-bar-assigned" style="line-height:1.4"><strong>Assigned Members</strong><br>
       <%= task.assigned_users.map(&:first_name).join(', ') %>
  </div>
  <div class="col-2 task-column">
   <p class = "task-bar-assigned" style="line-height:1.4"><strong>Created At</strong><br>
    <%= task.created_at.strftime("%m/%d/%Y") %>
  </div>
  <div class="col-2 task-column">
   <p class = "task-bar-assigned" style="line-height:1.4"><strong>Status</strong><br>
    <%= task.status %>
  </div>
</div>
