<!DOCTYPE html>
<html>
  <head>
    <title>Edit Task</title>
  </head>
  <body>
    <header>
      <h1>Edit Task</h1>
    </header>
    <section>
      <%= simple_form_for @task do |f| %>
        <div id="task-form-container" class="modal-body">
          <div>
            <%= f.input :title %>
          </div>
          <div>
            <%= f.input :description, as: :text %>
          </div>
          <div>
            <%= f.input :status, collection: Task::STATUSES %>
          </div>
          <div>
            <%= f.input :due_date, as: :date %>
          </div>
          <div>
            <%= f.input :task_type, collection: Task::TASK_TYPES %>
          </div>
          <div>
            <%= f.association :assigned_users, as: :check_boxes, label_method: :first_name, value_method: :id, item_wrapper_class: 'checkbox-inline' %>
          </div>
          <!-- Add more fields as needed -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary-task">Edit Task</button>
        </div>
      <% end %>
    </section>
    <footer>
      <%= link_to 'Show', @task %> |
      <%= link_to 'Back', tasks_path %>
    </footer>
  </body>
</html>
