<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
</head>
<body>
  <header>
    <h1>Tasks</h1>
  </header>

  <section>
    <table>
      <thead>
        <tr>
          <th>Task Creator</th>
          <th>Title</th>
          <th>Description</th>
          <th>Assignee</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Type</th>
          <!-- Add more columns as needed -->
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.owner.first_name %></td>
            <td><%= task.title %></td>
            <td><%= task.description %></td>
            <td><%= task.status %></td>
            <td><%= task.due_date %></td>
            <td><%= task.task_type %></td>
            <!-- Add more fields as needed -->
            <td><%= link_to 'Show', task %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <footer>
    <%= link_to 'New Task', new_task_path %>
  </footer>
</body>
</html>
