<div class="task-container" data-controller="tasks">
  <div class= "logo-row">
    <div class="col-4 user-row">
      <p id="date" class="date"></p>
      <script>
        var today = new Date();
        document.getElementById("date").innerHTML = today.toDateString();
      </script>
    </div>
    <div class="col-4">
      <p class="user">Welcome back, <%= current_user.first_name %>.</p>
    </div>
    <div class="col-4 logo-box">
      <img src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1687795741/Care_Team_Logo_Updated_azhxg4.svg" class="logo" alt="">
    </div>
  </div>
  <div class="row top-row">
    <div class="col-md-8 d-flex item-one-two">
      <div class="col-md-10 task-manager">
        <h1 class="mb-2 ml-2">Task Manager</h1>
        <%# <p id="demo" class="typewriter"></p> %>
        <span id="element" class="typed"></span>
      </div>
      <div class="col-md-2 add-task-button">
        <button type="button" class="btn btn-primary-task" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Create Task
        </button>
      </div>
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"><span class="task-module-header-one">Create a</span> <span class="task-module-header">task</span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- This is the div where the form will be loaded -->
            <%= render "tasks/task_form", task: @task %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 item-three">
      <div class="row block-labels">
        <div class="col-8 notifications">
          Notifications
        </div>
        <div class="col-1">
          <i class="fa-solid fa-bell"></i>
        </div>
      </div>
      <div class="row mt-2 font-family-monsterrat">
        <div class="col-1">
          <i class="fa-solid fa-circle" style="color: #62ec3c;"></i>
        </div>
        <div class="col-11 font-family-monsterrat">
          <p class="notification-text">You have <%= @task_notifications.count %> new task notifications</p>
        </div>
      </div>
      <ul>
        <% @task_notifications.first(2).each do |n| %>
          <li class="notification-text"><%= n.user.first_name %> assigned you <strong><%= n.task.title %></strong> about <%= n.time_ago %> minutes ago.</li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row second-row">
    <div class="col-md-8 d-flex item-two">
      <div class="col-md-3 d-flex flex-column task-box-one">
        <div class="row task-line">
          <div class="col-4">
            <img data-action="click->tasks#myTasks" src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1686864531/New_Tasks_Icon_xmd6lv.svg" class="task-icon" alt="Image">
          </div>
          <div class="col-8">
            <p class="test-h1" style="line-height:1.2">My<br>
              tasks</p>
          </div>
        </div>
        <div class="row task-count-row">
          <div class="col-2 d-flex task-second">
            <p class="task-count"><%= current_user.assigned_tasks.count %></p>
          </div>
          <div class="col-10 d-flex task-second">
            <p class="task-status-label">assigned to you</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex flex-column task-box-two">
        <div class="row task-line">
          <div class="col-4">
            <img data-action="click->tasks#pendingTasks" src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1686865426/Tasks_in_progress_ywyziz.svg" class="task-icon" alt="Image">
          </div>
          <div class="col-8">
            <p class="test-h1" style="line-height:1.2">Tasks<br>
              pending</p>
          </div>
        </div>
        <div class="row task-count-row">
          <div class="col-2 d-flex task-second">
            <!-- Update this to reflect the actual count -->
            <p class="task-count"><%= @tasks.where(status: 'Pending').count %></p>
          </div>
          <div class="col-10 d-flex task-second">
            <p class="task-status-label">tasks pending</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex flex-column task-box-three">
        <div class="row task-line">
          <div class="col-4">
            <img data-action="click->tasks#completedTasks" src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1686865426/Tasks_completed_x2egs7.svg" class="task-icon" alt="Image">
          </div>
          <div class="col-8">
            <p class="test-h1" style="line-height:1.2">Tasks<br>
              complete</p>
          </div>
        </div>
        <div class="row task-count-row">
          <div class="col-2 d-flex task-second">
            <!-- Update this to reflect the actual count -->
            <p class="task-count"><%= @tasks.where(status: 'Completed').count %></p>
          </div>
          <div class="col-10 d-flex task-second">
            <p class="task-status-label">completed</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 team-box">
      <div class="row block-labels">
        <div class="col-8 team-members-title">
          Team Members
        </div>
        <div class="col-1">
          <i class="fa-solid fa-people-group"></i>
        </div>
      </div>
      <div class="row font-family-monsterrat">
        <div class="row avatar-row">
          <% @users.each do |user| %>
            <div class="col-2 avatar-box">
              <%= image_tag(user.avatar, alt: "avatar icon", class: "avatar-task-icon") if user.avatar.present? %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row task-details-row">
    <div class="col-md-8 d-flex task-attributes">
      <div class="col-md-4 task-description">
        <h1 class="task-details">Task Description</h1>
      </div>
      <div class="col-md-2 task-members">
        <h1 class="task-details">Members</h1>
      </div>
      <div class="col-md-2">
        <h1 class="task-details">Created</h1>
      </div>
      <div class="col-md-2">
        <h1 class="task-details">Status</h1>
      </div>
    </div>
  </div>
  <div class="row third-row">
    <div class="col-md-8 all-tasks" data-tasks-target="tasks">
      <%= render "tasks", tasks: @tasks %>
    </div>
    <div class="col-md-3 recent-box">
      <div class="row block-labels">
        <div class="col-8">
          Recent Activity
        </div>
        <div class="col-1">
          <i class="fa-solid fa-bell"></i>
        </div>
      </div>
      <div class="row mt-2 font-family-monsterrat">
        <div class="col-1">
          <i class="fa-solid fa-bell-on"></i>
        </div>
        <div class="col-11 font-family-monsterrat">
          <p class="notification-text">You have <%= @task_notifications.count %> new task notifications</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Setup and start animation! -->
<% content_for :typedjs do %>
  <%= render partial: "shared/typedjs", locals: {message: "Hello #{current_user.first_name}", speed: 50, element: "#element"} %>
<% end %>
