<div class="d-navbar">
  <ul class="sidebar">
    <li>
      <%= link_to root_path do %>
        <i class='fa-solid fa-house home fa-xl' style='color: #a6a5a5;'></i>
        <p>Home</p>
      <% end %>
    </li>
    <li>
      <%= link_to posts_path do %>
        <i class='fa-solid fa-message fa-xl' style='color: #a6a5a5;'></i>
        <p>Posts</p>
      <% end %>
    </li>
    <li>
      <%= link_to tasks_path do %>
        <i class='fa-solid fa-list-check fa-xl' style='color: #a6a5a5;'></i>
        <p>Tasks</p>
      <% end %>
    </li>
    <li>
      <%= link_to events_path do %>
        <i class='fa-solid fa-calendar-days fa-xl' style='color: #a6a5a5;'></i>
        <p>Events</p>
      <% end %>
    </li>
    <li>
      <%= link_to doctors_path do %>
        <i class='fa-solid fa-user-doctor fa-xl' style='color: #a6a5a5;'></i>
        <p>Doctors</p>
      <% end %>
    </li>
    <li>
      <%= link_to prescriptions_path do %>
        <i class='fa-solid fa-file fa-xl' style='color: #a6a5a5;'></i>
        <p>Files</p>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <i class='fa-solid fa-right-from-bracket fa-xl' style='color: #a6a5a5;'></i>
        <p>Logout</p>
      <% end %>
    </li>
  </ul>
</div>
