  <div class="d-navbar">
    <ul>
      <li><%= link_to "<i class='fa-solid fa-house fa-xl' style='color: #ffffff;'></i>".html_safe, root_path %></li>
      <li><%= link_to "<i class='fa-solid fa-message fa-xl' style='color: #ffffff;'></i>".html_safe, posts_path %></li>
      <li> <%= link_to "<i class='fa-solid fa-list-check fa-xl' style='color: #ffffff;'></i>".html_safe, tasks_path %></li>
      <li><%= link_to "<i class='fa-solid fa-calendar-days fa-xl' style='color: #ffffff;'></i>".html_safe, events_path %></li>
      <li><%= link_to "<i class='fa-solid fa-user-doctor fa-xl' style='color: #ffffff;'></i>".html_safe, doctors_path %></li>
      <li><%= link_to "<i class='fa-solid fa-file fa-xl' style='color: #ffffff;'></i>".html_safe, "#" %></li>
      <li><%= link_to "<i class='fa-solid fa-right-from-bracket fa-xl' style='color: #ffffff;'></i>".html_safe, destroy_user_session_path, data: {turbo_method: :delete} %></li>
    </ul>
  </div>
