<div class="d-navbar">
  <ul class="sidebar">
    <li class="d-flex flex-column align-items-center">
      <%= link_to root_path do %>
        <i class='fa-solid fa-house home' style='color: #d9d9d9;'></i>
      <% end %>
      <p>Home</p>
    </li>
    <li class="d-flex flex-column align-items-center">
      <%= link_to posts_path do %>
        <i class='fa-solid fa-message' style='color: #d9d9d9;'></i>
      <% end %>
      <p>Posts</p>
    </li>
    <li class="d-flex flex-column align-items-center">
      <%= link_to tasks_path do %>
        <i class='fa-solid fa-list-check' style='color: #d9d9d9;'></i>
      <% end %>
      <p>Tasks</p>
    </li>
    <li class="d-flex flex-column align-items-center">
      <%= link_to events_path do %>
        <i class='fa-solid fa-calendar-days' style='color: #d9d9d9;'></i>
      <% end %>
      <p>Events</p>
    </li>
    <li class="d-flex flex-column align-items-center">
      <%= link_to doctors_path do %>
        <i class='fa-solid fa-user-doctor' style='color: #d9d9d9;'></i>
      <% end %>
      <p>Doctors</p>
    </li>
    <li class="d-flex flex-column align-items-center">
      <%= link_to prescriptions_path do %>
        <i class='fa-solid fa-file' style='color: #d9d9d9;'></i>
      <% end %>
      <p>Meds</p>
    </li>
    <li class="d-flex flex-column align-items-center">
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <i class='fa-solid fa-right-from-bracket' style='color: #d9d9d9;'></i>
      <% end %>
      <p>Logout</p>
    </li>
  </ul>
</div>
