<button class="text-nowrap bd-highlight text-truncate event-block" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal<%= event.id %>">
  <div><%= event.start.strftime("%l:%M %P") %> <%= event.title %></div>
</button>
<div class="modal fade" id="exampleModal<%= event.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModal<%= event.id %>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModal<%= event.id %>Label">Edit Event</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for event, data: { turbo: false } do |f| %>
        <div class="modal-body">
          <div class="event-input">
            <%= f.label :title, class:"form-title-label" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="event-input">
            <%= f.label :event_type, class:"form-title-label" %>
            <%= f.select :event_type, Event::EVENTTYPES, class: "form-select" %>
          </div>
          <div class="event-input">
            <%= f.label :start, class:"form-title-label" %>
            <%= f.datetime_field :start %>
          </div>
          <div class="event-input">
            <%= f.label :end, class:"form-title-label" %>
            <%= f.datetime_field :end %>
          </div>
          <div class="event-input">
            <%= f.label :location, class:"form-title-label" %>
            <%= f.text_field :location, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary-doctor" data-bs-dismiss="modal">Close</button>
          <%= link_to "Delete Event", event_path(event), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this event?" }, class: "btn btn-primary-doctor" %>
          <%= f.submit "Save changes", class: "btn btn-primary-doctor" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
