<!-- Trigger Button for Modal -->
<div class="col-md-2 add-doctor-button">
  <button type="button" class="btn btn-primary-event" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Create Event
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><span class="post-module-header-one">Create </span> <span class="post-module-header">event</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for @event do |f| %>
        <div id="event-form-container" class="modal-body">
          <div class="event-input">
            <%= f.label :title, class:"form-title-label" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="event-input">
            <%= f.label :event_type, class:"form-title-label" %>
            <%= f.select :event_type, Event::EVENTTYPES, class: "form-select" %>
          </div>
          <div class="event-input">
            <%= f.label :start, class:"form-title-label" %>
            <%= f.datetime_field :start %>
          </div>
          <div class="event-input">
            <%= f.label :end, class:"form-title-label" %>
            <%= f.datetime_field :end %>
          </div>
          <div class="event-input">
            <%= f.label :location, class:"form-title-label" %>
            <%= f.text_field :location, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary-doctor">Create</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
