<!-- Trigger Button for Modal -->
<div class="col-md-2 add-doctor-button">
  <button type="button" class="btn btn-primary-event" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Create Event
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 doctor-module-header-one" id="staticBackdropLabel">Create Event</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for @event do |f| %>
        <div id="event-form-container" class="modal-body">
          <div class="event-input">
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>
          <div class="event-input">
            <%= f.label :event_type %>
            <%= f.select :event_type, Event::EVENTTYPES %>
          </div>
          <div class="event-input">
            <%= f.label :start %>
            <%= f.datetime_field :start %>
          </div>
          <div class="event-input">
            <%= f.label :end %>
            <%= f.datetime_field :end %>
          </div>
          <div class="event-input">
            <%= f.label :location %>
            <%= f.text_field :location %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary-doctor">Create</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
