<div>
  <div class="d-flex justify-content-between">
    <h1>Calendar</h1>
    <div><%= render "modal", event: @event %></div>
  </div>
  <div id="calendar" class="simple-calendar">
    <%= turbo_frame_tag 'calendar' do %>
      <%= month_calendar(events: @events) do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
          <div>
            <%= render "edit_event_modal", event: event %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
