<h1>Create a New Event</h1>
<%= form_for @event do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :start %>
  <%= f.date_field :start %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.submit %>
<% end %>
