<h1> Edit Dr.<%= doctor.last_name %> Information </h1>
<%= simple_form_for(doctor) do |f| %>
  <div id="post-form-container" class="modal-body">
    <div>
      <%= f.input :first_name %>
    </div>
    <div>
      <%= f.input :last_name %>
    </div>
    <div>
      <%= f.input :specialty %>
    </div>
    <div>
      <%= f.input :address %>
    </div>
    <div>
      <%= f.input :hospital %>
    </div>
    <div>
      <%= f.input :phone_number %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary-doctor">Update</button>
    <button type="button" class="btn btn-secondary" data-action="click->doctors#toggleDoctorEdit" data-id="<%= doctor.id %>">Back to info</button>
  </div>
<% end %>
