<%= simple_form_for(@doctor) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div>
    <div class="form-inputs">
      <%= f.input :first_name %>
    </div>

    <div class="form-inputs">
      <%= f.input :last_name %>
    </div>

    <div class="form-inputs">
      <%= f.input :specialty %>
    </div>

    <div class="form-inputs">
      <%= f.input :address %>
    </div>

    <div class="form-inputs">
      <%= f.input :hospital %>
    </div>

    <div class="form-inputs">
      <%= f.input :phone_number %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
