<div class="doc-container">
  <div class="container">
    <div class="d-flex">
      <h2 class="doctor-title">Doctors</h2>
      <!--Button triger Modal-->
      <div class="col-md-2 add-doctor-button">
        <button type="button" class="btn btn-primary-doctor" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Create Doctor
        </button>
      </div>
      <!--Modal-->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"><span class="doctor-module-header-one">Create a</span> <span class="doctor-module-header">doctor</span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- This is the div where the form will be loaded -->
            <%= render "doctors/form", doctor: @doctor %>
          </div>
        </div>
      </div>
    </div>
    <div class="row doctors-row">
      <% @doctors.each do |doctor| %>
        <%= link_to doctor_path(doctor), class: "doctor-card" do %>
          <div class="doc-name-img">
            <div>
              <% if doctor.avatar.attached? %>
                <%= cl_image_tag doctor.avatar.key, class: "doc-img"%>
              <% else %>
                <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class:"doc-img"%>
              <% end %>
            </div>
            <div class="doctor-label">
              <h4 class="doc-name"><%= doctor.first_name %></h4>
              <h3 class="doc-name"><%= doctor.last_name %></h3>
            </div>
          </div>
          <h5 class="doc-specialty"><%= doctor.specialty %></h5>
          <div class="doc-list-card">
            <ul>
              <li><strong>Hospital:</strong> <%= doctor.hospital %></li>
              <li><strong>Phone Number:</strong> <%= doctor.phone_number %></li>
              <% unless doctor.medical_appointments.last.nil?  %>
                <li><strong>Appointment:</strong> <%= doctor.medical_appointments.last.event.start.strftime("%B %d, %Y at %I:%M %p") %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div
        data-controller="multi-mapbox"
        id="map"
        style="height: 300px; width: 100vw; margin: 10px; border-radius: 20px;"
        data-multi-mapbox-address-value="<%= @addresses.to_json%>"
        data-multi-mapbox-target="map"
        data-multi-mapbox-api-key-value="<%= ENV['MAPBOX_TOKEN'] %>"
      >
      </div>
    </div>
  </div>
</div>
