<div class="doc-container" data-controller="doctors">
  <div class= "header-row d-flex justify-content-around align-items-center">
    <div class="date-row">
      <p id="date" class="date"></p>
      <script>
        var today = new Date();
        document.getElementById("date").innerHTML = today.toDateString();
      </script>
    </div>
    <div>
      <p class="user">Welcome back, <%= current_user.first_name %>.</p>
    </div>
    <div>
      <img src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1687795741/Care_Team_Logo_Updated_azhxg4.svg" class="logo" alt="">
    </div>
  </div>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <h2 class="doctor-title">Doctors</h2>
      <!--Button triger Modal-->
      <div class="add-doctor-button">
        <button type="button" class="btn btn-primary-doctor" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Create Doctor
        </button>
      </div>
      <!--Modal-->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"><span class="doctor-module-header-one">Create a</span> <span class="doctor-module-header">doctor</span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- This is the div where the form will be loaded -->
            <%= render "doctors/form", doctor: @doctor %>
          </div>
        </div>
      </div>
    </div>
    <div class="row doctors-row" data-controller="mapbox"  data-mapbox-api-key-value="<%= ENV['MAPBOX_TOKEN'] %>">
      <% @doctors.each do |doctor| %>
        <!-- Button trigger modal -->
        <div class="doctor-card" data-bs-toggle="modal" data-bs-target="#doctorModal-<%= doctor.id%>" data-action="click->mapbox#setDoctorMap" coordinates="<%= generate_coor_hash(doctor.latitude, doctor.longitude).to_json %>" doctor="<%= doctor.id %>">
          <div class="doc-name-img">
            <div>
              <% if doctor.avatar.attached? %>
                <%= cl_image_tag doctor.avatar.key, class: "doc-img"%>
              <% else %>
                <%= image_tag "https://res.cloudinary.com/dqe5h0j32/image/upload/v1687470734/linkedin-sales-solutions-pAtA8xe_iVM-unsplash_h7d59g.jpg", class:"doc-photo"%>
              <% end %>
            </div>
            <div class="doctor-label">
              <h4 class="doc-name"><%= doctor.first_name %></h4>
              <h3 class="doc-name"><%= doctor.last_name %></h3>
            </div>
          </div>
          <h5 class="doc-specialty"><%= doctor.specialty %></h5>
          <div class="doc-list-card">
            <ul>
              <li><strong>Hospital:</strong> <%= doctor.hospital %></li>
              <li><strong>Phone Number:</strong> <%= doctor.phone_number %></li>
              <% unless doctor.medical_appointments.last.nil?  %>
                <li><strong>Appointment:</strong> <%= doctor.medical_appointments.last.event.start.strftime("%B %d, %Y at %I:%M %p") %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <!-- Doctors Modal -->
        <div class="modal fade" id="doctorModal-<%= doctor.id%>" tabindex="-1" aria-labelledby="doctorModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><span class="doctor-module-header-one">See a</span> <span class="doctor-module-header">doctor</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div id="doctor-<%= doctor.id%>-info">
                  <%= render "doctors/show", doctor: doctor %>
                </div>
                <div class="d-none" id="doctor-<%= doctor.id%>-edit">
                  <%= render "doctors/doctor_edit", doctor: doctor %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div
        data-controller="multi-mapbox"
        id="map"
        class="map"
        data-multi-mapbox-address-value="<%= @addresses.to_json%>"
        data-multi-mapbox-target="map"
        data-multi-mapbox-api-key-value="<%= ENV['MAPBOX_TOKEN'] %>"
      >
      </div>
    </div>
  </div>
</div>
