
<div class="doc-info" data-controller="mapbox">
  <h1>Dr. <%= @doctor.first_name %> <%= @doctor.last_name %></h1>
  <h3>Specialty:</h3>
  <p><%= @doctor.specialty %></p>
  <h3 id="key" data-mapbox-target="key" data-key="<%= @mapbox_token %>">Address:</h3>
      <p data-mapbox-target="address"><%= @doctor.address %></p>
  <h3>Phone Number:</h3>
  <p><%= @doctor.phone_number %></p>
  <%= link_to "update information", edit_doctor_path(@doctor) %>
  <div id="map" style="height: 250px; width: 250px" data-mapbox-target="map"></div>
</div>
<div class="doc-pres">
  <h3>Prescriptions:</h3>
  <% @doctor.prescriptions.each do |prescription| %>
    <li><%= prescription.name %></li>
  <% end %>
</div>
<div class="doc-app">
  <h3>Appointments History:</h3>
  <div class="appointment">
    <% @doctor.medical_appointments.all.each do |appointment| %>
      <li><%= appointment.event.start.strftime("%B %d, %Y at %I:%M %p") %></li>
      <li><%= appointment.event.title %></li>
      <li><%= appointment.event.location %></li>
      <li><%= appointment.event.notes %></li>
    <% end %>
  </div>
</div>
