<div class="doc-info">
  <h1>Dr. <%= @doctor.first_name %> <%= @doctor.last_name %></h1>
  <h3>Specialty:</h3>
  <p><%= @doctor.specialty %></p>
  <h3>Address:</h3>
  <p><%= @doctor.address %></p>
  <h3>Phone Number:</h3>
  <p><%= @doctor.phone_number %></p>
  <%= link_to "update information", edit_doctor_path(@doctor) %>
</div>
<div class="doc-pres">
  <h3>Prescriptions:</h3>
  <% @doctor.prescriptions.each do |prescription| %>
    <li><%= prescription.name %></li>
  <% end %>
</div>
<div class="doc-app">
  <h3>Appointments History:</h3>
  <div class="appointment">
    <% @doctor.medical_appointments.all.each do |appointment| %>
      <li><%= appointment.event.start.strftime("%B %d, %Y at %I:%M %p") %></li>
      <li><%= appointment.event.title %></li>
      <li><%= appointment.event.location %></li>
      <li><%= appointment.event.notes %></li>
    <% end %>
  </div>
</div>
