<div>
  <div>
    <div class="p-auto bg bg-light d-flex flex-column align-items-center justify-content-center">
      <h1>Create Post</h1>
      <%= render "post_form", post: @post %>
    </div>
  </div>
</div>

<div>
  <% @posts.each do |post| %>
    <div class="post d-flex justify-content-between align-items-center">
      <div>
        <ul>
            <li><%= post.owner[:first_name] %></li>
            <li>Title: <%= post.title %></li>
            <li>Content: <%= post.content %></li>
            <li>Tagged users:
              <% post.post_mentioned_users.each do |post_mentioned_user| %>
                <%= full_name(post_mentioned_user.user) %>,
              <% end %>
            </li>
        </ul>
      </div>
      <div>
        <%= link_to "<i class='fa-solid fa-circle-arrow-right fa-2xl link_see_post' style='color: #3f75ef;'></i>".html_safe, post_path(post)%>
      </div>
    </div>
  <% end %>
</div>
