<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<h2><%= @post.title %></h2>
<p><%= @post.content %></p>
<p><%= @post.owner[:first_name] %> <%= @post.owner[:last_name] %></p>
<div>
  <% @post.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>
<p><%= link_to "Go back home", posts_path %></p>
<p><%= link_to "Modify the post", edit_post_path %></p>
<p><%= link_to "Erase the post", post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>


<% @post.post_mentioned_users.each do |post_mentioned_user| %>
  <%= full_name(post_mentioned_user.user) %>
<% end %>

<%= simple_form_for [@post, PostMentionedUser.new] do |f| %>
  <%= f.input :user_id, collection: User.all.map { |user| [full_name(user), user.id] } %>
  <%= f.submit "Add user" %>
<% end %>
